@font-face {
  font-family: 'pentafox';
  src:  url('./pentafox.eot?d4upk5');
  src:  url('./pentafox.eot?d4upk5#iefix') format('embedded-opentype'),
    url('./pentafox.ttf?d4upk5') format('truetype'),
    url('./pentafox.woff?d4upk5') format('woff'),
    url('./pentafox.svg?d4upk5#pentafox') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="pf-"], [class*=" pf-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pentafox' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pf-linkedin:before {
  content: "\e90e";
}
.pf-facebook:before {
  content: "\e910";
}
.pf-instagram:before {
  content: "\e90d";
}
.pf-twitter:before {
  content: "\e90f";
}
.pf-arrow-down:before {
  content: "\e902";
}
.pf-arrow-up:before {
  content: "\e915";
}
.pf-arrow-right:before {
  content: "\e900";
}
.pf-user:before {
  content: "\e90a";
}
.pf-calendar:before {
  content: "\e901";
}